.main {
    display:flex;
    justify-content:center;
    align-items:center;
}
.page {
    width: 100%;
    min-height: calc(100vh - 64px);
    box-sizing: border-box;
    padding-bottom: 48px;

    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
